.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #fff;
    position: fixed;
    left: 220px;
    top: 0;
    right: 0;
    height: 70px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
  }
  
  .search-input {
    width: 40%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .filter-btn {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  .seller-btn {
    margin-left: auto;
    padding: 10px 18px;
    background-color: #b5ded3;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
  }
  